.layout {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #f0f2f5;
}

.logo h2 {
  color: white;
  margin: 0;
}

.action-buttons {
  display: flex;
  position: relative;
  left: 870px;
}



.site-layout-content {
  background-color: #f0f2f5;
  padding: 24px;
  min-height: 280px;
  border-radius: 10px;
}

.waste, .chart {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.waste h3, .chart h3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .logo {
      margin-bottom: 20px;
  }

  .action-buttons {
      margin-top: 20px;
  }

  .waste, .chart {
      margin-bottom: 20px;
  }
}

.circus{
  display: flex ;
  justify-content: center;
  align-items: center;
  height: 100vh
}